* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    135deg,
    #2b0057,
    #6a11cb,
    #ff00cc
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.title{
    color: white;
    font-size: 28px;
    text-align: center;

}