.sidebar {
  width: 260px;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    #0f172a,
    #1e293b
  );

  color: white;
  padding: 25px 20px;

  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 35px;
}

.sidebar a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;
  margin-bottom: 10px;

  border-radius: 12px;
}

.sidebar a:hover {
  background: rgba(255,255,255,0.08);
}

.sidebar a.active {
  background: #2563eb;
}