.navbar {
  height: 75px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: 1px solid #e2e8f0;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.theme-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 8px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile-icon {
  font-size: 34px;
  color: #2563eb;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 55px;
  /* background: white; */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  padding: 8px;
  z-index: 999;
}

.profile-dropdown button {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  background: red;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 6px;
}

.profile-dropdown button:hover {
  background: #d31f04;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #334155;
}

.page-title {
  font-size: 22px;
  font-weight: 700;
  color: #0f172a;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 280px;
  padding: 12px 40px 12px 15px;
  border: 1px solid #dbe2ea;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.theme-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.theme-btn:hover {
  transform: rotate(180deg);
}

.notification {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #334155;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.profile-info h4 {
  margin: 0;
  font-size: 14px;
  color: #0f172a;
}

.profile-info p {
  margin: 0;
  font-size: 12px;
  color: #64748b;
}

/* ================= DARK THEME ================= */

body.dark-theme .navbar {
  background: #1e293b;
  border-color: #334155;
}

body.dark-theme .page-title,
body.dark-theme .profile-info h4,
body.dark-theme .notification,
body.dark-theme .menu-btn {
  color: white;
}

body.dark-theme .profile-info p {
  color: #cbd5e1;
}

body.dark-theme .search-box input {
  background: #334155;
  color: white;
  border: 1px solid #475569;
}

body.dark-theme .search-box input::placeholder {
  color: #cbd5e1;
}

body.dark-theme .theme-btn {
  background: #3b82f6;
}

/* ================= LIGHT THEME ================= */

body.light-theme .navbar {
  background: white;
}

body.light-theme .page-title,
body.light-theme .profile-info h4,
body.light-theme .notification,
body.light-theme .menu-btn {
  color: #0f172a;
}